* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul > li {
  list-style-type: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;

  padding: 7px;
}

.main-container {
  height: 98vh;

  background-color: #050406;
  color: #fff;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar {
  width: 20%;
  height: 100%;

  background-color: #20212c;
}

.content-section {
  min-width: 80%;
  height: 100%;
  padding: 30px 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-y: auto;
}

/* Styling the sidebar components */

.task-header {
  font-weight: 600;
  color: #94939b;
  padding: 20px 30px;
}

.tasks-types > li {
  padding: 20px 25px;
  margin: 10px 0;

  transition: all 0.2s;
}

.tasks-types > li.task-category--active {
  background-color: #272833;
}

.tasks-types > li > a {
  text-decoration: none;

  color: #fff;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 1px;
}

.task-icon {
  padding: 7px;
  font-size: 12px;
  border-radius: 4px;
  margin-right: 10px;
}

.task-icon--pink {
  background-color: #f17da5;
}

.task-icon--green {
  background-color: #7cbaba;
}

.tasks-types > li:hover {
  transform: translateY(-5px);

  background-color: #272833;
}

/* Styling of the sidebar and the list items are finished. */

/* Styling the content section and that elements */

.content-section > .task-name {
  font-weight: 400;
  font-size: 40px;
}

.task-form {
  width: 50%;
  height: 7%;

  margin: 20px 0 50px;

  position: relative;
}

.task-form > .plus-icon {
  position: absolute;
  top: 7px;
  left: 10px;
}

.task-form > .tasks-input {
  width: 100%;
  height: 100%;

  font-weight: 400;
  color: #fff;
  background-color: transparent;
  border: none;
  outline: none;
  padding-left: 43px;
  border-radius: 8px;

  box-shadow: 0 0 2px rgba(255, 255, 255, 0.7);
}

/* Adding task is completed */

/* Styling the ongoing tasks */
.ongoing-tasks {
  width: 50%;
  /* background-color: red; */
}

.ongoing-tasks > .ongoing-task--heading {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
}

.current-tasks-holder {
  height: 90%;
  background-color: red;
}
